body {
    background-color: white;
}
.formulario {
    background: #E1E3EC;
    position: relative;
    width: 40%;
    display: block;
    margin: auto;
    border-radius: 15px;
}
.formulario h1 {
    background-color: #00A7EE;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    border: 0px solid #000000;
}
.form {
    background: #E1E3EC;
    position: relative;
    width: 50%;
    display: block;
    margin: auto;
    font-size: 16px;
}
.IniciarSesion {
    padding-bottom: 10px; 
    padding-left: 10px;
    padding-right: 10px;
}
.IniciarSesion input {
    display: inherit;
    margin-bottom: 4%;
    border: none;
    background: transparent;
    border-bottom: 3px solid black; 
    outline: none;
}
.IniciarSesion input:focus {
    transition: 0.2s;
    border-bottom: 3px solid #00A7EE; 
}
.IniciarSesion label {
  display: inherit;
  text-align: center;
  margin-bottom: 5px;
}
.input {
    border-top: none;
}
#loginButton {
    background-color: transparent;
    display: flex;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    width: 66px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    outline: none;
}
#loginButton:hover {
    background-color: #00A7EE;
    border: 3px solid #00A7EE;
    color: white;
}
#buttonRegister {
    background-color: transparent;
    display: flex;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    width: 105px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    outline: none;
}
#buttonRegister:hover {
    background-color: #00A7EE;
    border: 3px solid #00A7EE;
    color: white;
}
label, h1, button, p, a {
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
}
a{
    color: #00A7EE;
}
a:hover{
    color: #021755;
}
